/*common styles*/
*{
	box-sizing: border-box;
	outline: none;
}
@font-face{
	font-family: proxymanova;
	src: url(../fonts/ProximaNova.ttf);
}
img{
	height: auto;
	max-width: 100%;
}
body{
	width: 100%;
	overflow-x: hidden;
}
.container{
	max-width: 960px;
	margin: 0 auto;
}
.head{
	font-family: proxymanova, tahoma;


}
/*header styles*/
.menu-bg{

	padding: 28px 0 34px 0;
	background-color: #000000;
}
.head-container-wraper{
	max-width: 1227px;
	margin: 0 auto;
	
}
.secondary-menu{
display: inline-flex;
}
.head-item{
	margin: 0 5px;
}
.head-item img{
width: 15px;		
}
.ballance{
	height: 10px;
	width: 10px;
}
.ballance-text{
	font-family: proxymanova, tahoma;
	font-size: 10px;
	color:#fff;
}
#head-srch-field{
	display: none;
	background-color: #323232;
	border: none;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px 10px;
}
#snd-btn-srch{
	height: 20px;
	width: 20px;
	background-color: #000;
	border: none;
	background-image: url("../img/svg-ico/search-solid.svg");
	-webkit-background-size: cover;
	background-size: cover;
	margin-right: 31px;
}
.responsive-btn{
	display: none;
	height: 30px;
	width: 30px;
	border: 3px solid #fff;
	border-radius: 6px;
	padding: 0px 4px;
	cursor: pointer;
}
.responsive-btn .row{
	height: 3px;
	width: 15px;
	background-color: #fff;
	border-radius: 3px;
	margin: 4px 0px;
}
.mwrap{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.head-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.menu-wraper li{
	display: inline-block;
	padding: 25px 13.5px 18px 13.5px;
	list-style: none;
}
.menu-wraper li a{
	font-family: proxymanova,tahoma;
	font-size: 13px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none; 
}

.header-bg{
	background-image: url("../img/head-bg1.jpg");

	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 106px;
	transition: 0.4s background;

}
.header-text{
	padding-top: 280px;
	
}
.header-head{
	font-family: proxymanova, tahoma;
	font-size: 80px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	max-width: 422px;
	margin-bottom: 60px;
	padding-left: 10px;
}
.btn-container{
	display: flex;
	justify-content: center;
	max-width: 100%;
}
.head-btn{
	position: relative;
	font-family: proxymanova, tahoma;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	width: 150px;
	color: #ffffff;
	background: #000000;
	text-decoration: none;
	padding: 19px 33px 21px 33px;
	transition: 0.2s;
}
.head-btn:hover{
background: #0b0b0b;
}
.head-btn:active{
top: 1px;
}
/*slider*/
.slider-bg{
	padding: 155px 0 215px 0;
	background-color: #fff;
}
.slider-head{
	font-family: proxymanova, tahoma;
	font-size: 48.4px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}
.slider-desc{
	font-family: proxymanova, tahoma;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}
.slider-wraper{
	position: relative;
}
.slider-wraper ul{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100vw;
	height: 640px;
	overflow: hidden;
	
}
#next{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	font-size: 200px;
	font-weight: bold;
}
#prew{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	font-size: 200px;
	font-weight: bold;
}
.slider-item{
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	min-width: 308px;
	list-style: none;
	opacity: 0.5;
}
.slider-item .slide-desc{
	display: none;
}
.active{
	opacity: 1;
}
.active .slide-desc{
	display: block;
}
.slider-item img{
	width: 166px;
}
.slide-desc{
	font-family: proxymanova, tahoma;
	font-size: 24px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
}
/*company*/
.company-bg{
	padding: 250px 0;
	background-image: url("../img/company-bg.jpg");
	background-size: cover;
}
.company-head{
	font-size: 48.4px;
	color: #fff;
	max-width: 410px;
	margin-bottom: 80px;
	padding-left: 10px;
}
.company-desc{
	font-family: tahoma;
	font-size: 15px;
	color: #ffffff;
	line-height: 30px;
	max-width: 600px;
	margin-bottom: 45px;
	padding-left: 10px;
}


/*features*/
.features-bg{
	padding: 126px 0 240px 0;
	background-color: #fff;
}
.features-head{
	font-size: 48px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.flex-container{
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 88px;
}
.flex-container .block{
	width: 221px;

}
.flex-container .block img{
	width: 221px;
	height: 160px;
}
.features-block-desc{
	font-family: proxymanova, tahoma;
	font-size: 16px;
	color: #000;
	line-height: 30px;
	text-align: left;
	margin-top: 30px;
	font-weight: bold;
}
/*footer*/
.footer-bg{
	padding: 75px 0 60px 0;
	background-color: #000;
}
.footer-head{
	font-size: 17px;
	text-transform: uppercase;
	color: #c9c9c9;
	margin-bottom: 27px;
}
.footer-bg ul li{padding: 10px 0;
}
.footer-bg ul li a{
	font-family: proxymanova, tahoma;
	font-size: 14px;
	color:#c9c9c9;
	text-decoration: none;
}
.form-wraper{
	position: relative;
	margin-bottom: 60px;
}
#em{
	font-family: proxymanova, tahoma;
	font-size: 14px;
	width: 160px;
	background-color: #fff;
	padding: 15px 5px 15px 15px;
	color: #9b9b9b;
}
#snd-btn{
	position: absolute;
	top: 0;
	right: 4px;
	background-color: #c7c7c7;
	font-family: proxymanova, tahoma;
	font-size: 15px;
	font-weight: bold;
	color: #010101;
	border: none;
	width: 58px;
	padding: 16.5px 0;
	transition: 0.4s;
}
#snd-btn:hover{

	background-color: #b9b6b6;
}
#snd-btn:active{
	top: 1px;
}
.social-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-container .social-block img{
	height:auto;
	width: 21px;
}
.copyright{
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	color: #fff;
	align-items: center;
}
@media screen and (max-width: 700px){
	.mwrap{
		flex-direction: column;
		position: absolute;
		top: 13vh;
		width: 100%;
		background-color: rgba(0,0,0,0.7);
		transform: translateX(100%);
		transition: 0.4s;
	}
	.mwrap-active{
		transform: translateX(0%);

	}
	@keyframes navLinkFade{
		from{
			opacity: 0;
			transform:translateX(50px);
		}
		to{
			opacity: 1;
			transform:translateX(0px);
		}
	}
	.logo-wraper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.responsive-btn{
		display: block;
		position: relative;
		right: 10px;
	}

	.head-container{
		align-items: flex-start;
		flex-direction: column;
	}
	.menu-wraper {
		width: 100%;
		
	}

	.menu-wraper li{
		display: block;
		width: 100%;
		text-align: center;
		border-bottom: 2px solid #fff;
	}
	.secondary-menu{
		
		justify-content: center;
    width: 100%;
    margin-top: 30px;
	}
	.header-head{
		text-align: center;
		font-size: 50px;
		max-width: none;
	}
	/*company*/
	.company-head{
		font-size:50px;
		text-align: center;
		max-width: none;
	}
	.company-desc{
		max-width: none;
		text-align: center;
	}
	/*features*/
	.features-bg .block{
		max-width: 95%;
		flex-direction: column;
	}
}